.logo-cus{
    width:213px;
    height: auto;
}

.navbar-light .navbar-nav .nav-link{
    font-size: 17px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    color:black;
    padding-right: 30px;
} 
@media only screen and (min-width:992px) {
    .navbar-expand-lg .navbar-collapse {
        display: flex!important;
        flex-basis: auto;
        justify-content: center;
    }

}
@media only screen and (max-width:600px) {
    .navbar-light .navbar-nav .nav-link{
        font-size: 17px;
        font-weight: 600;
        color:black;
        padding-right: 0px;
    } 
    .navbar{
        background-color: #FFF1DA!important;
    }
    .navbar-light .navbar-toggler {
        color: rgba(0,0,0,.0);
        border-color: rgba(0,0,0,.0);
    }
}


